.spot {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 25px 25px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  text-align: left;
}

.spot > img {
  flex-direction: column;
  justify-content: left;
  object-fit: cover;
  min-width: 300px;
  min-height: 250px;
  text-align: center;
  width: 100%;
  margin: 5.5px 20px 10px 0;
  border-radius: 5px;
}

.spot__info {
    margin-top: -5.5px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.spot__info > h2, h3 {
    font-size: 18px;
    font-weight: 600;
}
  
h4.description {
    font-size: 14px;
    font-family: 'Esteban', serif;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}

h4.price {
  height: 5px;
  font-size: 14px;
  padding-bottom: 3px;
}

h2, h3 {
  font-family: 'Playfair Display SC', serif;
}


.book__now {

}

button {

}