.form__signup{
    margin:auto;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: whitesmoke;
}

.form__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.error-list {
    margin: auto;
    list-style: none;
    color: rgb(143, 18, 18);;
    text-align: center;
    padding: .5rem rem;
  
}

label {
    padding: 5px;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 1px;
}

.form__input{
    margin: .2rem;
}

.form__input-text{
    color: #333333;
    border-radius: 5px;
    border: .15px solid rgb(11,12,15);
    padding: .3rem;
}

.form__button{
    align-self: center;
    
}

.form__button-submit{
    padding: 5px 20px;
    background-color: rgb(197,198,200);
    border-radius: 5px;
}