.date__container {
    position: absolute;
    top: 150px;
    left: 29%;
    width: 100vw;
}

.date__container > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 500px;
}

.date__container > input {
    width: 400px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
  }

.date__container > button {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit !important;
    background-color: #c5b5b5;
    color: white;
    width: 579px;
  }

.date__container > button:hover {
    background-color: white;
    color: #776263;
}