.search__container {
    display: flex;
    align-content: center;
    border: 0.5px solid #333333;
    border-radius: 5px;
    background-color: whitesmoke;
}

.search__text {
    font-family: 'Esteban', serif;
}
