.search__container {
    display: flex;
    align-items: center;
    border-width: 1;
    border-color: gray;
    background-color: whitesmoke;
    box-shadow: rgba(0,0,0,0.1);
    border-radius: 3;
    height: 40;
}

.search__text {
    font-family: 'Esteban', serif;
}
