.footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(54, 51, 51);
    background-color: rgb(231, 211, 184);
    border-radius: 5px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 700px;
    

}

.footer > div {
    padding: 5px;
    font-size: 14px;

}