.footer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    min-height: 100%;
    align-items: stretch;
    background-color: rgb(231, 211, 184);
}

.footer__developer {
   flex-grow: 1;
}

.footer_developer-container{
    flex-shrink: 0;
    justify-content: space-around;
}

i.fab {
   color: black; 
}