body {
    background-color: whitesmoke;
    height: 100vh;
    position: relative;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    height: 200%;
}

.nav__container {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    top: 0;
    height: 65px;
    background-color: whitesmoke;
    z-index: 100;
    display: block;
    position: fixed;  
}

.navbar__left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__button {
    padding: 5px 20px;
    background-color: rgb(197,198,200);
    border-radius: 5px;
}

.navbar__right-container {
    display: flex;
    flex-direction: column;
}

.navbar__right {
    display: flex;
    justify-content: space-between;
}

.navbar__wrapper {
    display:flex;
}

.navbar__home {
    display: flex;
    align-items: center;
}

.navbar__links {
    display: flex;
}

.navbar__middle-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80;
    z-index: 99;
}

.footer {
    z-index: 100;
    display: block;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    bottom: 0;
    margin: auto;
    height: 80px;
}

.footer__developer {
    justify-content: center;
}

p {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 16px;
    color: black;
}

.footer_developer-container{
    display: flex;
    justify-content: center;
}

i.fab {
   color: black; 
   margin: 0 10px;
}
