div.main {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div.main ::after {
    content: "";
    background: url("https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-us.s3.amazonaws.com%2F86be13f0-e59f-11e9-9743-db5a370481bc?fit=scale-down&source=next&width=700");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.main__layout {
    padding-top: 60px;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 2px; 
    font-size: 40px;
}
